<form method="post" action="{{ path('app_goodie_delete', {'id': goodie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ goodie.id) }}">
    <button class="btn">Delete</button>
</form>
